
/* აქ ჰედერიდან დაწყებული პირველი სექციის ჩათვლით გაწერილი ტეგებია  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition-property:all;
    transition-duration: 1s;
}
.header {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    transition-property:all;
    transition-duration: 1s;
}
nav {
    margin-left: 115px;
    transition-property:all;
    transition-duration: 1s;
}
.nav__list {
    display: flex;
    justify-content: space-between;
    width: 366px;
    height: 20px;
    margin-top: 45px;
    transition-property:all;
    transition-duration: 1s;
}
.nav__list a {
    color: black;
    transition-property:all;
    transition-duration: 1s;
}
#button {
    width: 78px;
    height: 40px;
    background-color: #F84646;
    color: white;
    border: none;
    margin-top: 35px;
    border-radius: 5px;
    transition-property:all;
    transition-duration: 1s;
}
#button:hover {
    cursor: pointer;
    color: #F84646;
    background-color: white;
}
.section__one {
    background-image: url(../img/Rectangle\ 1.jpg);
    width: 100%;
    height: 756px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition-property:all;
    transition-duration: 1s;
}
.section__one--wraper {
    max-width: 1440px;
    width: 100%;
    height: 756px;
    transition-property:all;
    transition-duration: 1s;
}
h1 {
    position: absolute;
    top: 200px;
    left: 122px;
    font-size: 64px;
    line-height: 82px;
    font-weight: 800;
    transition-property:all;
    transition-duration: 1s;

}
.section__one--descr {
    color: black;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    position: absolute;
    top: 384px;
    left: 122px;
    max-width: 650px;
    width: 100%;
    transition-property:all;
    transition-duration: 1s;
}

/* section two */

.section__two {
    max-width: 1153px;
    width: 100%;
    margin: 0 auto;
    height: 802px;
    margin-top: 120px;
    transition: all;
    transition-duration: 1s;
}
.section__two h2 {
    color: black;
    font-size: 36px;
    font-weight: 800;
    line-height: 49.18px;
    text-align: center;
    transition: all;
    transition-duration: 1s;
}
.h2__descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 39.5px;
    max-width: 994px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    transition: all;
    transition-duration: 1s;
}
.section__two--container {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    max-width: 1153px;
    width: 100%;
    height: 508px;
    flex-wrap: wrap;
    margin-top: 99px;
    transition: all;
    transition-duration: 1s;
}
.container__box {
    width: 298px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 91px;
    transition: all;
    transition-duration: 1s;
}
.container__box h3 {
    font-weight: 800;
    font-size: 36px;
    line-height: 49.18px;
    color: black;
    transition: all;
    transition-duration: 1s;
}
.container__box p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    transition: all;
    transition-duration: 1s;
}
.container__box img {
    width: 76px;
    height: 76px;
    transition: all;
    transition-duration: 1s;
}

.body-wraper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    transition: all;
    transition-duration: 1s;
}
.section__three {
    max-width: 1197px;
    width: 100%;
    height: 486px;
    margin: 0 auto;
    margin-top: 174px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    transition: all;
    transition-duration: 1s;
}
.section__three--article {
    max-width: 608px;
    max-height: 480px;
    width: 100%;
    height: 100%;
    transition: all;
    transition-duration: 1s;
}
.section__three--article h2{
    color: #2E2E2E;
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    transition: all;
    transition-duration: 1s;
}
.section__three--article p {
    width: 523px;
    color: #808080;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 116px;
    transition: all;
    transition-duration: 1s;
}
.section__three--article button {
    width: 160px;
    height: 48px;
    color: white;
    background-color: #F84646;
    border: none;
    margin-top: 80px;
    border-radius: 8px;
    transition: all;
    transition-duration: 1s;
}
.section__three--article button:hover {
    background-color: white;
    color: #F84646;
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
}
.section__three--image {
    background-image: url(../img/Illustration.jpg);
    max-width: 504px;
    width: 100%;
    max-height: 480px;
    height: 100%;
    transition: all;
    transition-duration: 1s;
    
}
.section__four {
    max-width: 1197px;
    width: 100%;
    height: 480px;
    margin: 0 auto;
    margin-top: 114px;
    display: flex;
    justify-content: space-between;
}
.section__four--image {
    background-image: url(../img/22.jpg);
    max-width: 504px;
    width: 100%;
    max-height: 480px;
    height: 100%;
}
.section__four--article {
    max-width: 548px;
    width: 100%;
    height: 480px;

}
.section__four--article h2{
    color: #2E2E2E;
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    transition: all;
    transition-duration: 1s;
}
.section__four--article p {
    width: 523px;
    color: #808080;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 116px;
    transition: all;
    transition-duration: 1s;
}
.section__four--article button {
    width: 160px;
    height: 48px;
    color: white;
    background-color: #F84646;
    border: none;
    margin-top: 80px;
    border-radius: 8px;
    transition: all;
    transition-duration: 1s;
}
.section__four--article button:hover {
    background-color: white;
    color: #F84646;
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
}
@media (min-width:1024px) and (max-width:1440px) {
    nav {
        margin-left: 103px;
    }
    h1 {
        font-size: 56px;
        line-height: 73.5px;
        /* left: 50%;
        transform: translateX(-50%); */
    }
    #button {
        margin-right: 53px;
    }
    .section__one--descr {
        max-width: 565px;
        width: 100%;
        /* left: 50%;
        transform: translateX(-50%); */
    }
    .section__two {
        max-width: 764px;
        width: 80%;
        margin-bottom: 174px;
        height: 1149.72px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section__two p {
        max-width: 852px;
        width: 100%;
    }
    .section__three {
        max-width: 904px;
        width: 100%;
        height: 404px;
    }
    .section__three--article {
        max-width: 515px;
        width: 100%;
        height: 404px;

    }
    .section__three--article h2 {
        font-size: 58px;
        font-weight: 700;
        line-height: 59.5px;
    }
    .section__three--article p {
        max-width: 428px;
        width: 100%;
        height: 171px;
        font-size: 14px;
        font-weight: 400;
        line-height: 28.5px;
        margin-top: 79px;
    }
    .section__three--article button {
        margin-top: 46px;
    }
   .section__three--image {
    max-width: 424px;
    width: 100%;
    height: 100%;
    max-height: 404px;
   }
   .section__four {
    max-width: 904px;
    width: 100%;
    height: 404px;
    display: flex;
    justify-content: space-between;
   }
   .section__four--image {
    background-image: url(../img/section\ four\ photo.jpg);
    max-width: 424px;
    width: 100%;
    height: 404px;
    background-size: cover;
   }
   .section__four--article {
    max-width: 428px;
    width: 100%;
    height: 404px;
   }
   .section__four--article h2 {
    font-size: 58px;
    line-height: 59.5px;
    font-weight: 700;
   }
   .section__four--article p {
    max-width: 428px;
    width: 100%;
    height: 171px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.5px;
    margin-top: 79px;
   }
   .section__four--article button {
    margin-top: 46px;
   }


}
@media (min-width: 375px) and (max-width: 1024px) {
    .nav__list  li{
        margin-left: 10px;
    }
    .header {
        justify-content: flex-end;
    }
    h1 {
        font-size: 42px;
        line-height: 57.5px;
    }
    #button {
        margin-right: 35px;
    }
    nav {
        display: none;
    }
    .section__one--descr {
        max-width: 335px;
        width: 50%;
    }
    .section__one {
        width: 100%;
        max-width: 1440px;
    }
    .section__two {
        max-width: 375px;
        width: 100%;
        max-height: 2010px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .section__two p {
        max-width: 334px;
        width: 100%;
        height: 109px;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        
    }
    .section__two--container {
        max-width: 335px;
        width: 100%;
        max-height: 1797px;
        height: 100%;
        margin: 0 autp;
        margin-top: 40px;
    }
    .section__three {
        margin-top: 104px;
        max-height: 793px;
        height: 100%;
        max-width: 338px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .section__three--image {
        max-width: 335px;
        width: 100%;
        height: 312px;
        background-size: cover;
    }
    .section__three--article {
        max-height: 451px;
        height: 100%;
        max-width: 338px;
        width: 100%;

    }
    .section__three--article h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 41.5px;
        text-align: center;
    }
    .section__three--article p {
        max-width: 336px;
        width: 100%;
        height: 200px;
        font-size: 14px;
        font-weight: 400;
        line-height: 28.5px;
        margin-top: 61px;

    }
    .section__three--article button {
        width: 338px;
        height: 108px;
        outline: none;
        border: none;
    }
    .section__four {
        max-width: 338px;
        width: 100%;
        max-height: 733px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .section__four--image {
        max-width: 335px;
        width: 100%;
        height: 312px;
        background-image: url(../img/section\ four\ photo.jpg);
        background-size: cover;
    }
    .section__four--article {
        max-width: 338px;
        width: 100%;
        height: 391px;
        margin-top: 30px;
    }
    .section__four--article h2 {
        font-size: 36px;
        line-height: 41.5px;
        font-weight: 700;
        text-align: center;
    }
    .section__four--article p{
        max-width: 336px;
        width: 100%;
        height: 200px;
        font-size: 14px;
        line-height: 28.5px;
        font-weight: 400;
        margin-top: 61px;
        text-align: center;
    }
    .section__four--article button {
        margin-top: 40px;
        width: 338px;
        border: none;
    }
}
